<ul class="items">
  <li *ngFor="let item of items$ | async">
    <strong>{{ item.name }}</strong>
    <div class="buttons">
      <button routerLink="/detail/{{item.id}}"><mat-icon>more</mat-icon></button>
      <button><mat-icon>favorite_border</mat-icon></button>
      <button title="delete item" (click)="delete(item)"><mat-icon>delete</mat-icon></button>
    </div>
  </li>
</ul>

<div>
  <label>Item name: <input #itemName /> </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button mat-raised-button color="primary" (click)="add(itemName.value); itemName.value = ''">add</button>
</div>
